
.mainTitle{
  text-align: left;
  margin-left: 5%;
}

.form-popup {
  display: none;
  margin-right: 25%;
  margin-left: 25%;
  width: 50%;
  min-width: 500px;
  border-radius: 4px;
  background-color: #ffc1e3;
  box-shadow: 2px 2px 5px #bf5f82;
}

.form-container .btn {
  background-color: #c48b9f;
  color: white;
  font: bold;
  font-family: "Comic Sans MS";
  font-size: 15px;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom:10px;
  opacity: 0.8;
  box-shadow: 2px 2px 5px #bf5f82;
}

.btn-charge:hover {
  background-color: #e91e63;
  opacity: 1;
}

.form-container .cancel{
  background-color: #d32f2f;
}

.form-container .cancel:hover {
  background-color: red;
  opacity: 1;
}

.form-container .open-button:hover {
  opacity: 1;
} 

.form-container input[type=text], .form-container input[type=number], .form-container input[type=date], .form-container select {
    width: 60%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius: 4px;
    background: #f1f1f1;
  }
.ul{
    margin-bottom: 20px;
}

.h1{
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 25px;
    color: white;
}
.input-movements{
    font-family: "Comic Sans MS";
    font-size: 15px;
    font: bold;
    color: #59303e;
    text-align: center;
    margin-left: 5%;
}

.input-movements:invalid{
  border: 2px solid red;
}

.movement-btn{
    float: right;
    border:none;
	overflow:hidden;
	text-align: center;
 	padding: 14px 16px;
	text-decoration:none;
	background-color:inherit;
	color: white;
	cursor: pointer;
	font-size: 15px;
	font-family: Comic Sans MS;
}
.movement-btn:hover{
    background-color: #f8bbd0;
}

.alertPstMsjFrom{
  padding: 20px;
  background-color: green;
  color: white;
  font-family: 'Comic Sans MS';
  font-size: 15px;
  margin-bottom: 15px;
}